@import url("https://use.typekit.net/znm4lev.css"); /*font import*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-gradient: linear-gradient(
    177deg,
    #fafafa 12.08%,
    #edf6f7 36.86%,
    #fef6f4 48.01%,
    #ebedf9 78.99%,
    #fafafa 103.18%
  );
  --surface-card: #ffffff;
  --brand: #734498;
  --text: #4f4d5e;
  --element-subtle: #848484;
  --element-subtle-secondary: #cdd5f7;
}

body {
  background-color: var(--background-gradient);
}

h1 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 32px;
}

h2 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 28px;
}
h3 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 24px;
}
h4 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 20px;
}
h5 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 16px;
}

p {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.semibold {
  font-family: "arboria Medium", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.bold {
  font-family: "arboria Bold", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.small {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 14px;
}

p.large {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 24px;
}
