@import url("https://use.typekit.net/znm4lev.css"); /*font import*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --background: #ffffff;
  --background-gradient: linear-gradient(
    177deg,
    #fafafa 12.08%,
    #edf6f7 36.86%,
    #fef6f4 48.01%,
    #ebedf9 78.99%,
    #fafafa 103.18%
  );
  --surface-card: #ffffff;
  --brand: #734498;
  --berry-linear: linear-gradient(to right, rgba(111, 116, 207, 1), rgba(130, 104, 201, 1), rgba(149, 91, 195, 1));
  --text: #4f4d5e;
  --element-subtle: #848484;
  --element-subtle-secondary: #cdd5f7;
  --border: #c1c1c1;
  --gradient-stroke: radial-gradient(circle, #614b91, #a888ee);
  --button-gradient: radial-gradient(circle, rgba(209, 205, 253, 0.4), rgba(255, 255, 255, 0.3));

  /* Fonts */
  --font-header: "gyst-variable", sans-serif;
  --font-body: "arboria", sans-serif;
  --font-body-semibold: "arboria Medium", sans-serif;
  --font-body-bold: "arboria Bold", sans-serif;

  /* Font sizes: headers */
  --font-size-h-xl: 2rem;
  --font-size-h-lg: 1.75rem;
  --font-size-h-md: 1.5rem;
  --font-size-h-sm: 1.25rem;
  --font-size-h-xs: 1rem;

  /* Font sizes: body */
  --font-size-p-xs: 0.875rem;
  --font-size-p-sm: 1rem; /* standard copy text size */
  --font-size-p-md: 1.25rem;
  --font-size-p-lg: 1.5rem;

  /* Font weights */
  --weight-bold: 700;
  --weight-normal: 400;
  --weight-semibold: 500;
}

h1 {
  font-family: var(--font-header);
  font-variation-settings: "wght" var(--weight-bold);
  font-size: var(--font-size-h-xl);
}

h2 {
  font-family: var(--font-header);
  font-variation-settings: "wght" var(--weight-bold);
  font-size: var(--font-size-h-lg);
}
h3 {
  font-family: var(--font-header);
  font-variation-settings: "wght" var(--weight-semibold);
  font-size: var(--font-size-h-md);
}
h4 {
  font-family: var(--font-header);
  font-variation-settings: "wght" var(--weight-normal);
  font-size: var(--font-size-h-sm);
}
h5 {
  font-family: var(--font-header);
  font-variation-settings: "wght" var(--weight-normal);
  font-size: var(--font-size-h-xs);
}

p {
  font-family: var(--font-body);
  font-style: normal;
  font-size: var(--font-size-p-sm);
  font-weight: var(--weight-normal);
}

.page {
  max-width: 480px;
  margin: auto;
  height: 100vh;
  padding: 0 24px;
}
.semibold {
  font-family: var(--font-body-semibold);
}

.bold {
  font-family: var(--font-body-bold);
}

.gradient-text {
  background: var(--berry-linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
