@import url("https://use.typekit.net/znm4lev.css"); /*font import*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
} */

h1 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 32px;
}

h2 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 28px;
}
h3 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 24px;
}
h4 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 20px;
}
h5 {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 16px;
}

p {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.semibold {
  font-family: "arboria Medium", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.bold {
  font-family: "arboria Bold", sans-serif;
  font-style: normal;
  font-size: 16px;
}

p.small {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 14px;
}

p.large {
  font-family: "arboria Book", sans-serif;
  font-style: normal;
  font-size: 24px;
}
